.portfolio-container {
    width: 75%;
}

.img-thumbnail {
    height: 200px;
    width: auto;
    border-radius: 30px;
    margin: 40px;
}

.card-title {
    translate: -20px 15px 50px;
    font-size: 22px;
    display: inline-block;     
}

.arrow {
    width: 22px;
    height: auto;
    background-color: rgba(128, 128, 128, 0);
}

.work-link {
    color: rgba(252, 227, 0, 0.945);
    border: solid 3px rgba(252, 227, 0, 0.945);
    background-color: rgba(128, 128, 128, 0.623);
    border-radius: 10px;
    box-shadow: 2.5px 5px rgba(128, 128, 128, 0.623);    
    width: auto;
    text-decoration: none;
    padding: 10px;
}

.card-content {
    background-color: rgba(159, 197, 247, 0.164);
    border-radius: 10px;
    margin-bottom: 80px;
    font-size: 25px;
}

.card-title:hover {
    transform: scale(.9, .9);
    transition: transform 250ms ease-in 5ms;   
}

.work-link:hover {   
    background-color:rgb(0, 22, 51);
    color: rgb(143, 238, 255);
    border-color: rgb(143, 238, 255);
    box-shadow: none;
    box-shadow: none;
    background-color: rgb(4, 32, 68);     
}

@media screen and (max-width: 500px) {
    .portfolio-container {
        display: block;
        margin-bottom: none;
    }
    .card-container {
        display: block;
    }
    .card-title{
        width: 200px;
    }
    .card-title h3{
        translate: none;
        font-size: 17px;
    }
    .card-title img{
        height: 15px;
        width: auto;
    }
    .card-content{
        flex-direction: column;
        text-align: center;
        font-size: 17px;
    }
    .img-thumbnail{
        height: 160px;
    }
}