.list-group-item {
    background-color: rgba(128, 128, 128, 0.623);
    color: rgb(0, 217, 255); 
    border-radius: 10px;;
}
.resume-container ul li {
    margin-bottom: 10px;
}
.resume {
    text-decoration: none;
    color: yellow;
}

input {
    background:yellow;
    color: rgba(252, 227, 0, 0.945);
    border: solid 1px rgba(252, 227, 0, 0.945);
    background-color: rgba(128, 128, 128, 0.623);
    border-radius: 10px;  
    width: 100px;
}
